@font-face {
    font-family: OptimusPrincepsSemiBold;
    src: url(../assets/fuentes/OptimusPrincepsSemiBold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
}

h2, p{
    font-family: OptimusPrincepsSemiBold;
    color: white;
}

.tamañoFuenteH2 {
    font-size: 20px;
}

/* Estilos para la primera pantalla */
.contenedorPrimero{
    height: 100vh;
    display: flex;
    align-content: space-around;
}
.bannerPrincipal {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/banners/bannerPrincipal.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logoCarrusel {
    width: none;
    height: 50vh;
    animation: rollIn 2s;
}
.btnJugar {
    width: 150px;
    height: 50px;
    cursor: pointer;
}

/* Estilos para la segunda pantalla */
.contenedorSegundo{
    height: 100vh;
}
.carousel {
    height: 90%;
}
.bannerEleccion {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/banners/bannerPaginaEleccion.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.mensajeEleccion{
    color:white;
    font-size: 50px;
}
.personajesGuerrero {
    width: 800px;
    height: 95%;
}
.btnEleccionPersonaje {
    width: 150px;
    height: 50px;
    cursor: pointer;
}

/* Estilos para la tercer pantalla */
.personajesMonstruo {
    width: 800px;
    height: 95%;
}
.btnIrBatalla {
    width: 150px;
    height: 50px;
    cursor: pointer;
}

/* Estilos para la pantalla de batalla*/
.contenedorTercero {
    height: 100vh;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
.bannerBatalla {
    width: 100vw; 
    height: 100vh;
    background-image: url(../assets/img/banners/paredBatalla.jpg);
    background-size: cover;
    background-position: center;
}
.bannerDatosPersonajes{
    width: 500px;
    background-image: url(../assets/img/banners/bannerDatosPersonajes.jpg);
    border-radius: 20px;
    opacity: 0.8;
}
.barraPrincipal {
    width: 90vw;
    background-image: url(../assets/img/banners/tablaMensajes.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: 0.8;
}
.contenedorAcciones {
    height: 200px;
    display: flex;
    align-content: space-around;
}
.btnAcciones {
    width: 100%;
    height: 75px;
    cursor: pointer;
}
.btnAccionesDos {
    width: 50%;
    height: 75px;
    cursor: pointer;
}
.icons {
    width: 20px;
    height: 20px;

}

/* Estilos para la pagina de victoria*/
.bannerVictoria {
    width: 100vw; 
    height: 100vh;
    background-image: url(../assets/img/banners/bannerVictoria.jpg);
    background-size: cover;
    background-position: center;
}
.movimientoVictoria {
    animation: zoomInDown 2s;
}
/* Estilos para la pagina de derrota */
.bannerDerrota {
    width: 100vw; 
    height: 100vh;
    background-image: url(../assets/img/banners/bannerDerrota.jpg);
    background-size: cover;
    background-position: center;
}
.movimientoDerrota {
    animation: rotateOutDownLeft 2s;
}

@media only screen and (max-width: 599px) {
    .tamañoFuenteH2 {
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
    .logoCarrusel {
        width: 100%;
        height: 100%;
        animation: rollIn 2s;
    }
    .personajesGuerrero {
        width: 100%;
        height: 95%;
    }
    .personajesMonstruo {
        width: 100%;
        height: 95%;
    }
    .bannerDatosPersonajes{
        width: 150px;
    }
    .jugadorHeroe {
        width: 70%;
        height: 100%;
    }
    .contenedorAcciones {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .btnAcciones {
        width: 100px;
        height: 40px;
        cursor: pointer;
    }
    .movimientoVictoria {
        width: 200px;
    }
    .movimientoDerrota {
        width: 200px;
    }
    .landscape{
        height: 10px;
    }
    
}
@media only screen and (min-width: 500px) and (max-width: 739px) and (orientation: landscape) {
    .tamañoFuenteH2 {
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
    .logoCarrusel {
        display: none;
    }
    .personajesGuerrero {
        width: 85%;
        height: 90%;
    }
    .personajesMonstruo {
        width: 85%;
        height: 90%;
    }
    .jugadorHeroe {
        width: 60px;
    }
    .bannerDatosPersonajes{
        width: 200px;
    }
    .contenedorAcciones {
        height: 100px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .btnAcciones {
        width: 70px;
        height: 50px;
        cursor: pointer;
    }
    .landscape{
        height: 10px;
    }
}
@media only screen and (min-width: 740px) and (max-width: 990px) and (orientation: landscape) {
    .tamañoFuenteH2 {
        font-size: 12px;
    }
    p{
        font-size: 10px;
    }
    .logoCarrusel {
        display: none;
    }
    .personajesGuerrero {
        width: 80%;
        height: 90%;
    }
    .personajesMonstruo {
        width: 80%;
        height: 90%;
    }
    .jugadorHeroe {
        width: 60px;
    }
    .bannerDatosPersonajes{
        width: 300px;
    }
    .contenedorAcciones {
        height: 100px;
    }
    .btnAcciones {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
    .landscape{
        height: 10px;
    }
    .movimientoVictoria {
        width: 200px;
        height: 200px;
    }
    .movimientoDerrota {
        width: 200px;
        height: 200px;
    }
}

