* {
    margin: 0;
    padding: 0;
}


.personajes {
    width: 100px;
    height: 250px;
    display: flex;
}

.flex {
    display: flex;
}

.eleccion {
    display: flex;
    justify-content: center;
}

